.video{
    height: 1000px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
@@ -17,7 +17,7 @@
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-size: 10px;
    left: 0;
    padding: 100px;
    top: 0;    
0 comments on commit d1c07b2
